<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.practice.mapper.BookMapper">

  <!-- sysdate 출력 -->
  <select id="selectTime"
    resultType="String"> select sysdate from dual </select>

  <!-- book info -->
  <select id="selectBook"
    resultType="com.example.practice.dto.BookDto"> select book_no , title , author , price , pub_no
  , rentyn , delyn , to_char(regdate,'yyyy-mm-dd') regdate from tb_book where book_no=#{b_no} </select>

  <!-- book insert -->
  <insert
    id="insertBook"> insert into tb_book (book_no, title, author) values (
  'B'||lpad(seq_tb_book.nextval, 5, 0) , #{title}, #{author}) </insert>

  <!-- selectBookList --> 

  <select id="selectBookList"
    resultType="com.example.practice.dto.BookDto"> select * from tb_book order by book_no desc </select>
</mapper>